DATABASE_URL=postgresql://postgres.SEU_PROJECT_ID:SUA_SENHA@aws-0-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true

DIRECT_URL=postgresql://postgres:SUA_SENHA@db.SEU_PROJECT_ID.supabase.co:5432/postgres

SUPABASE_URL=https://SEU_PROJECT_ID.supabase.co
SUPABASE_ANON_KEY=eyJhbGc...
SUPABASE_SERVICE_KEY=eyJhbGc...

PORT=3000
NODE_ENV=development
JWT_SECRET=gere-um-segredo-aleatorio-longo-aqui
OPENAI_API_KEY=sk-...
JWT_REFRESH_SECRET=gere-outro-segredo-aleatorio-aqui
